body{
  background: black;
  color:red;
  text-align: center;
  height:100vh;
  width:100vw;
  transition: all 0.8s;
}

.app-container{
  background: blue;
}
.nav-bar{
  /* background:green; */
  display:flex;
  text-decoration: none;
  margin-left:10px;
  flex-wrap: wrap;
}

.logo-netflix{
  width:135px;
  height:65px; 
  margin:10px;
}

.link-item, a {
  margin:12px;
  color:white;
  transition: all 0.5s;
  font-size:18px;
  margin-top: 15px;
}

.link-item:hover, a{
  color:red;
  text-decoration: none !important;
  transform: scale(1.3);
}

.box-card{
  transition: all 0.7s;
  margin-top:35px;
}

.box-card:hover{
  transform: scale(1.1);
}

.box-title{
  overflow: hidden;
}

.like-logo{
  width:30px;
}

.img-movie{
  width:310px;
  border-radius:10%;
  margin-top:15px;
}

.box-banniere{
  display: flex;
  flex-wrap: wrap;
}

.banniere{
  width:100%;
}

@media screen and (max-width: 768px) {
  .nav-bar{
    display:flex;
    text-decoration: none;
    justify-content: space-around;
  }

  .box-logo-netflix{
    /* background: green; */
    width:100%;
  }

  .logo-netflix{
    width:250px;
    height:90px; 
    margin:10px;
  }

  .link-item, a {
    margin:12px;
    color:white;
    transition: all 0.5s;
    font-size:15px;
    margin-top: 15px;
  }

}